@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

fieldset p {
  margin: 0px;
}

fieldset h2 {
  text-align: center;
}

.player-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "players adminform";
  margin: 100px 80px 30px 80px;
  /* position: fixed; */
}

.players {
  grid-area: players;
  margin: 0px 50px 180px 0px;
  /* border: 0.5px solid #707070; */
  border-radius: 8px;
  display: grid;
  /* grid-template-rows: 10% 90%; */
}

.inner-heading {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.player-list {
  background: white;
  border: 0px;
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  column-gap: 20px;
}

.player-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 10px 0px 0px 10px; */
  /* align-items: center; */
}

.inner-button {
  display: grid;
  grid-template-columns: auto auto;
  padding: 12px;
}

.admininnerbutton {
  width: 100%;
  background: #2980b9;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  border: 0px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
  font-size: 12px;
}

.choice {
  z-index: 3;
  padding: 15px;
  border: 0.5px solid #707070;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-size: 13px;
}

#Adminform {
  grid-area: adminform;
  /* width: 450px; */
  /* text-align: center; */
}

#Adminform fieldset {
  background: white;
  border: 0px;
  border-radius: 8px;
  padding: 50px 50px;
}

input,
textarea {
  padding: 15px;
  border: 0.5px solid #707070;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-size: 13px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2980b9;
  color: #2980b9;
  font-weight: 500;
}

::placeholder {
  color: #707070;
}
::placeholder:focus {
  color: #2980b9;
}
span {
  text-decoration-color: #2980b9;
}
.link {
  text-decoration-color: #2980b9;
}
p {
  color: #2980b9;
}

.adminpagebutton {
  width: 100%;
  background: #2980b9;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  border: 0px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
  font-size: 14px;
  margin: 16px 0px;
}

.adminpagebutton :hover {
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}

h1 {
  font-size: 30px;
  /* text-transform: uppercase; */
  color: #2980b9;
  margin-bottom: 30px;
}

.errorMessage {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

.playing-style {
  display: grid;
  grid-template-columns: 50% 50%;
}
.playing-style div:first-child {
  margin-right: 10px;
}
.playing-style div:last-child {
  margin-left: 0px;
}
.react-datepicker__input-container {
  margin-left: 100px;
}

@media (max-width: 1200px) {
  .player-page {
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin: 100px 80px 30px 80px;
    /* position: fixed; */
  }
  #Adminform fieldset {
    background: white;
    border: 0px;
    border-radius: 8px;
    padding: 10px 40px;
  }
}

@media (max-width: 575px) {
  #Adminform fieldset {
    background: white;
    border: 0px;
    border-radius: 8px;
    padding: 10px 40px;
  }
  .player-page {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "adminform" "players";
    grid-template-columns: none;
    margin: 100px 20px 0px 20px;
  }
  .player-list {
    background: white;
    border: 0px;
    padding: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    grid-column-gap: 20px;
    column-gap: 20px;
  }
  .inner-heading {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  .players {
    margin: 0px 0px 40px 0px;
    /* border: 0.5px solid #707070; */
    border-radius: 8px;

    display: grid;
    /* grid-template-rows: 10% 90%; */
  }
}
