@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

* {
	font-family: Montserrat, sans-serif;
}

.div-news {
	width: 100%;
	height: 140px;
	/* border: 1px solid #707070; */
	border-radius: 8px;
	margin-bottom: 30px;
	display: flex;
	background-color: #ffffff;
}
/* for news images */
.div-recent-news {
	width: 100%;
	border: 1px solid #707070;
	border-radius: 8px;
	margin-bottom: 30px;
	display: flex;
}

#div-second-section {
	padding: 40px 60px 0px 0px;
	width: 350px;
}

.div-news-details {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none;
	padding: 20px;
}

/* .news_img {
	width: 100%;
	height: 100%;
} */
.div-news-images {
	border-radius: 8px 0px 0px 8px;
	width: 40%;
	/* display: inline-block; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.div-news-section {
	padding: 40px 40px 0px 60px;
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-block;
}

.div-section {
	margin: 65px 100px;
	display: flex;
}

.p-news {
	color: #272727;
	font-size: 20px;
	margin: 0px;
}
.home-news-date {
	font-size: 12px;
	margin-bottom: 0px;
}
.link-news {
	text-decoration: none;
}

/* --------------------------------- */
#home-recent-matches {
	/* border: 1px solid #707070; */
	border-radius: 8px;
}
#link-recent-matches:not(:last-child) > div {
	position: relative;
}
#link-recent-matches:not(:last-child) > div::after {
	content: "";
	position: absolute;
	height: 1px;
	background: #c2c2c2;
	width: 96%;
	left: 2%;
	margin-top: 13px;
}
#home-match {
	color: #272727;
	padding: 14px;
	background-color: white;
}
#link-recent-matches:last-child #home-match {
	border-radius: 0px 0px 8px 8px;
}
#home-recent-match-date {
	font-size: 12px;
}
#team-score {
	display: flex;
	margin: 0px 0px 10px 0px;
}
#home-recent-matches-team-one-score {
	margin: 0px 0px 0px auto;
	color: #272727;
}
#home-recent-matches-teamOne {
	margin: 0px 0px 0px 0px;

	color: #272727;
}
#home-recent-matches-team-one-wickets {
	margin-left: 10px;
	font-size: 20px;
	padding-right: 50px;
	color: #272727;
}
#home-recent-matches-team-two-score {
	margin: 0px 0px 0px auto;
	color: #272727;
}
#home-recent-matches-result {
	font-size: 14px;
}
#home-recent-matches-teamTwo {
	margin: 0px;
	color: #272727;
}
#home-recent-matches-team-winner {
	/* margin-left: 25px; */
	margin: 20px 0px 6px 0px;
	color: #272727;
	font-weight: 600;
}
#home-recent-matches-title {
	font-size: 14px;
	border-radius: 10px 10px 0px 0px;
	background-color: #2980b9;
	color: white;
	padding: 8px 14px;
}
.grid-class-topteam {
	background-color: white;
}

#rm {
	font-size: 10px;
}

#link-recent-matches {
	text-decoration: none;
}

#div-second-section .grid-class-topteam {
	border: 0px;
	margin-top: 40px;
}
.loader-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	padding: 20px 10px;
	border-radius: 0px 0px 8px 8px;
}

@media screen and (max-width: 768px) {
	.div-section {
		margin: 104px 40px;
	}
	.div-news-section {
		padding-left: 0px;
	}
	#div-second-section {
		padding-right: 0px;
		width: 30vw;
	}
	#p-news {
		font-size: 16px;
	}
	#div-second-section .grid-class-topteam {
		width: 100%;
	}
	#div-second-section .cards {
		margin: 20px;
	}
	#div-second-section .p-card {
		margin: 8px 0px;
		font-size: 14px;
	}
	#div-second-section .list-wins .p-team-name {
		font-size: 14px;
	}
	#div-second-section .list-wins .img-card {
		width: 40px;
		height: 40px;
	}
}
@media screen and (max-width: 480px) {
	.p-news {
		font-size: 14px;
	}
	.div-section {
		flex-direction: column;
		margin: 124px 10px 40px 10px;
	}
	.div-news {
		height: 120px;
		margin-bottom: 20px;
	}
	.div-news-details {
		padding: 10px;
	}
	.div-news-section {
		padding: 0px;
		width: 100%;
	}
	#div-second-section {
		padding: 40px 0px 0px 0px;
	}
	#home-recent-matches {
		width: 100%;
	}
	.grid-class-topteam {
		display: none;
	}
	#div-second-section {
		width: auto;
	}
}
