@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

fieldset p {
  margin: 0px;
}

fieldset h1 {
  text-align: center;
}

#msform {
  width: 30vw;
  margin: 100px auto 40px auto;
  /* text-align: center; */
}

#msform fieldset {
  background: white;
  border: 0.5px solid #707070;
  border-radius: 8px;
  padding: 50px 50px;
}

input,
textarea {
  padding: 15px;
  border: 0.5px solid #707070;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  font-size: 13px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2980b9;
  color: #2980b9;
  font-weight: 500;
}

::placeholder {
  color: #707070;
}
::placeholder:focus {
  color: #2980b9;
}
span {
  text-decoration-color: #2980b9;
}
.link {
  text-decoration-color: #2980b9;
}
p {
  color: #2980b9;
}

button {
  width: 100%;
  background: #2980b9;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  border: 0px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
  font-size: 14px;
  margin: 16px 0px;
}

button:hover {
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #2980b9;
  margin-bottom: 30px;
}

.errorMessage {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  #msform {
    width: 35vw;
  }
}

@media (max-width: 992px) {
  #msform {
    width: 40vw;
  }
}

@media (max-width: 767px) {
  #msform {
    width: 50vw;
  }
}

@media (max-width: 575px) {
  #msform {
    width: 70vw;
  }
}

@media (max-width: 425px) {
  #msform {
    width: 90vw;
  }
}
