@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color: #272727;
}

.matchlandingpageloader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #2980b9;
	border-bottom: 16px solid #2980b9;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: flex;
	/* justify-content: center; */
	margin-left: 135%;
	margin-top: 40%;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* .timeline{
    width: 90%;
    height: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px;
} */

.landing-container{
    display: grid;
    grid-template-columns: 17% 83%;
    grid-gap: 1%;
}
.landing-container .calander{
    margin: 1%;
    border-radius: 5px;
    height: fit-content;
    
}
.landing-container .all-matches-box{
    height: fit-content;
    margin: 1%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    }
.landing-container .all-matches-box > div{
    padding: 1%;
    border: 1px solid black;
    height: fit-content;
}
.all-matches-box .each-matches-box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1%;
    text-align: left;
}

.each-matches-box .Team-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between; 
    font-size: 120%;  
}

.Team-data > div{
    word-break: break-word;
}
