@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.top-container-scorecard{
    display: grid;
    grid-template-columns: 12% auto 12%;
    height: 700px;
}

.main-container-scorecard{
    display: grid;
    grid-template-rows: 5% 6% 40% 5% 6% 4% 6% auto;
    border: 1px solid #272727;
    
}
.main-container-scorecard .batsman-heading{
    display: grid;
    grid-template-columns: 30% 45% 5% 5% 5% 5% 5%;
    border: 1px solid #272727;
}
.main-container-scorecard .extras-content{
    display: grid;
    grid-template-columns: 10% auto 30%;
    border: 1px solid #272727;
}
.main-container-scorecard .total-content{
    display: grid;
    grid-template-columns: 10% auto 40%;
    border: 1px solid #272727;
}
.main-container-scorecard .bowler-heading{
    display: grid;
    grid-template-columns: 30% auto 4% 4% 4% 4% 4% 4% 6%;
    border: 1px solid #272727;
}