@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.stats-main-container{
   border-radius: 5px;
    margin: 150px;
}

.two-pie-chart-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:50px;
}
.stats-container{
    background: white;
    margin: 50px 0 0 0;
    border-radius: 5px;
}

.stats-container .top-title{
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #2980B9;
    color: white;
    padding: 10px;
    margin: 0;
}
.stats-graph{
    width: 100%;
    border: none;
    height: 500px;

}

@media only screen and (max-width: 576px) {

}