@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.top-container-stats{
    display: grid;
    grid-template-columns: 12% auto 12%;
    height: 400px;
    border: 1px solid #272727;
}
.stats-container{
    display: grid;
    grid-template-rows: 10% auto;
    border: 1px solid #272727;
}