@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.matchSecNavHead{
	display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 60px 10px 60px;
}
.match-score-details{
	display: flex;
	flex-direction: column;
}
.match-team-score > div{
display: grid;
grid-template-columns: max-content 35% 45%;
width:40vw;
column-gap: 10px;
}
.match-team-score > div:first-child{
	margin: 10px 0px;
}
.match-team-score > div > div:first-child{
	height: 20px;
	width: 30px;
	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
}

.match-pom{
	border-left: 1px solid #707070;
	padding-left: 20px;
}

.match-pom .pom-name-photo{
	display: grid;
	grid-template-columns: max-content max-content;
	column-gap: 20px;
	align-items: center;
	margin-top:10px;
}

.pom-name> div:first-child{
	font-size: 20px;
	font-weight: 600;
}

.pom-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #c2c2c2;
}

.pom-img > i {
	color: #c2c2c2;
	font-size: 30px;
}

@media screen and (max-width: 768px) {

.match-team-score > div{
display: grid;
grid-template-columns: max-content 1fr 2fr;
width:48vw;
column-gap: 12px;
}

.match-pom{
	padding-left: 30px;
}

}
@media screen and (max-width: 576px) {

.match-pom{
display: none;
}
.match-team-score > div{
grid-template-columns: max-content 1fr 2fr;
width:100%;
column-gap: 20px;
}

.secNavParent{
width: 100%;
margin: 45px 0 0 0;
}
}
