@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color: #272727;
}

.top-div-of-match {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
}

.short-summary-with-result{
    width: 40%;
    border-right: 1px solid #272727;
    margin-left: 20px;
}
.short-summary-with-result span{
text-align: left;
margin-bottom: 20px;    
}

.short-summary-with-player-of-the-match{
width: 50%;
border-left: 1px solid #272727;
}
.short-summary-right .default-img{
    height: 60px;
    background-size: 108px 60px;
    margin-top: 15px;

}

.short-summary-with-result .Team-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 20px;
    margin: 3px;
    margin-left: 10px;
}

.Team-data .Team-name, .Team-score , .Team-name , .Team-score{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-right: 40px;
    margin-top: 10px;
    }
.Team-img , .Team-img{
    width: 60px;
    background-size: 60px 34px;
}

.short-summary-right{
    display: grid;
    grid-template-columns: 20% 50%;
    margin-left: 20px;
    height: 50px;;

}
.header-player-of-the-match{
    margin: 40px 0 10px 40px;
}
.summary{
    margin: 20px;
    margin-top: 80px;
}

.topOfSummary{
    display: grid;
    grid-template-columns: 60% 10% 30%;
    
}

.scoreCardSummary{
    border: 1px solid #272727;
    height: auto;
    margin-left: 15px;
    display: grid;
    grid-template-rows: 10% 10% 30% 10% 30%
}

.matchDetails{
    border: 1px solid green;
    margin-right: 80px;
}

.title{
    background-color: #2980B9;
    
}

.players{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.playerLeft, .playerRight{
    border: 1px solid green;
    height: 150px;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    font-size: 20px;
}
.playerinfo{
    margin-top: 10px;
    margin-left: 100px;
}
.playerScores{
    margin-top: 10px;
    margin-right: 100px;
}

.playerRight{
    border: 1px solid blueviolet
}

.match-title{
    text-align: left;
    margin-top: 8px;
    margin-left: 8px;
}
.match-values{
    text-align: left;
    margin-top: 8px;
    margin-left: 8px;

}

.playing11{
    border: 1px solid blue;
    height: 500px;
    margin-left: 15px;
    display: grid;
    grid-template-rows: 10% 90%
}
.team-names{
    margin-left: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid black;
    display: inline;
    
}
 .team-players-list, .team-names{
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border-bottom: 1px solid black; */
    
}

.team-names{
    border-bottom: 1px solid black;
}