@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #272727;
}

.top-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "summary matchdetails"
    "playingXI matchdetails";
  row-gap: 30px;
  column-gap: 25px;
  justify-content: space-between;
  height: fit-content;
  padding: 20px;
  margin: 130px;
  font-size: 14px;
}

.top-container .top-left-container {
  border: 1px solid #272727;
  border-radius: 5px;
}

.top-container .teamone-top-players, .teamtwo-top-players {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr 2fr;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  grid-gap: 3px;
}
.top-container .teamtwo-top-players {
  border-bottom: none;
}

.top-container .bottom-left-container {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border: 1px solid #272727;
  border-radius: 5px;
}

.bottom-left-container .playingXI {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 1fr 8fr;
  grid-gap: 5px;
  height: auto;
}
.match_details {
  grid-area: matchdetails;
  height: fit-content;
}

.top-container .top-title {
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #2980b9;
  color: white;
  padding: 10px;
  }

@media screen and (max-width: 768px) {
.top-container {
   margin: 0px;
}

.top-container .teamone-top-players, .teamtwo-top-players {
  grid-gap: 0;
}

}

@media screen and (max-width: 576px) {
.top-container {
   margin-top: 320px;
   display: block;
  }

.top-container .top-left-container {
  margin: "20px 0 20px 0"
}

.match_details {
  margin: "0 0 20px 0"
}

}