@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
.matchscorecardloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2980b9;
  border-bottom: 16px solid #2980b9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: flex;
  /* justify-content: center; */
  margin-left: 80%;
  margin-top: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-container-scorecard {
  display: grid;
  grid-template-columns: 12% auto 12%;
  height: 700px;
}

.main-container-scorecard {
  display: grid;
  grid-template-rows: 5% 6% auto 5% 5% 2% 5% auto;
  border: 1px solid #272727;
  border-radius: 5px;
}
.main-container-scorecard .batsman-heading {
  display: grid;
  grid-template-columns: 30% 45% 5% 5% 5% 5% 5%;
  border: 1px solid #272727;
}
.main-container-scorecard .extras-content {
  display: grid;
  grid-template-columns: 10% auto 30%;
  border: 1px solid #272727;
}
.main-container-scorecard .total-content {
  display: grid;
  grid-template-columns: 10% auto 40%;
  border: 1px solid #272727;
}
.main-container-scorecard .bowler-heading {
  display: grid;
  grid-template-columns: 30% auto 5% 5% 5% 8% 6%;
  border: 1px solid #272727;
}
