.grid-class-topteam {
  width: 350px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin: 15px;
  margin-left: 0px;
  /* position: fixed; */
}

.p-topteam {
  width: 98%;
  text-align: center;
  font-size: 28px;
  color: #2c3e50;
}

.cards {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.cardtest {
  color: #707070;
  background-color: #16a085;
  color: white;
  width: 100%;
  cursor: pointer;
}

.cardtest p {
  color: #ffffff;
}

.cardodi {
  color: #707070;
  border: 1px solid #16a085;
  width: 100%;
  cursor: pointer;
}

.cardt20 {
  color: #707070;
  border: 1px solid #16a085;
  width: 100%;
  cursor: pointer;
}

.cardtest:hover {
  background-color: #16a085;
  color: white;
}
.cardodi:hover {
  background-color: #16a085;
  color: white;
}
.cardt20:hover {
  background-color: #16a085;
  color: white;
}

.cardtest:hover .p-card {
  color: white;
}
.cardodi:hover .p-card {
  color: white;
}
.cardt20:hover .p-card {
  color: white;
}

.p-card {
  text-align: center;
}

.list-wins {
  text-align: center;
  display: flex;
  margin: 10px 10px 10px 10px;
}

.list-wins:not(:last-child) {
  border-bottom: 1px solid #707070;
}

.img-card {
  width: 60px;
  height: 60px;
  margin-right: 5%;
  border-radius: 50%;
}
.p-team-name {
  font-size: 20px;
  margin-right: auto;
  text-align: left;
}

.h2-team-position {
  font-size: 20px;
  margin-left: auto;
  margin-right: 18px;
}

.hr-team-card {
  margin-left: 5%;
  margin-right: 5%;
}
