@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

* {
	font-family: Montserrat, sans-serif;
}
.newspage-grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: white;
	color: #272727;
	padding: 100px;
	background-color: #ecf0f1;
}
#recent-news-title {
	font-size: 15px;
}
.div-newspage {
	width: 100%;
	height: 140px;
	border-radius: 8px;
	margin-bottom: 30px;
	display: flex;
	background-color: white;
}
.div-newspage:hover {
	cursor: pointer;
}
.newspage-grid-container p {
	color: #272727;
	display: grid;
}
.grid-item {
	color: #272727;
	background-color: #ecf0f1;
	column-gap: 400px;
}
.grid-item2 {
	color: #272727;
	background-color: white;
	column-gap: 400px;
	padding: 15px;
	border-radius: 8px;
	text-align: left;
	margin: 0px 60px 0px 0px;
}
#newspage-news-title {
	font-size: 32px;
	margin: 10px 0px 0px 0px;
}

.main_img {
	width: 100%;
	border-radius: 8px;
}

.recent-news {
	width: 100%;
	border: 1px solid #707070;
	border-radius: 8px;
	margin-bottom: 30px;
	display: flex;
}
.date {
	font-size: 12px;
}
#news-date {
	margin: 10px 0px 20px 0px;
}
@media screen and (max-width: 768px) {
	.newspage-grid-container {
		display: grid;
		grid-template-columns: 2fr;
		margin-top: 124px;
		padding: 10px 30px;
	}
	.grid-item {
		padding: 0px;
		margin-top: 40px;
	}
	.grid-item2 {
		margin: 0px;
	}
}
@media screen and (max-width: 480px) {
	.newspage-grid-container {
		display: grid;
		grid-template-columns: 2fr;
		margin-top: 124px;
		padding: 10px;
	}

	.main_img {
		width: 100%;
	}
	.grid-item {
		color: #272727;
		background-color: #ecf0f1;
		padding: 0px;
		margin-top: 40px;
	}
	.grid-item2 {
		color: #272727;
		background-color: white;
		padding: 5px;
		margin: 0px;
	}
	.newspage-grid-container p {
		padding: 0px 10px 0px 10px;
	}
}
