@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.ball-main {
  display: flex;
  flex-direction: row;
  margin-top: 210px;
  margin-bottom: 40px;
  justify-content: center;
  width: 95vw;
}

.bowling-main-div {
  display: grid;
  grid-template-columns: 35vw 35vw;
}

.bowling-format-heading {
  background-color: #2980b9;
  color: white;
  padding: 8px;
  margin-top: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.bowling-Test-div {
  border-radius: 8px;
  /* margin-left: 70px; */
  background: white;
  font-family: "Montserrat", sans-serif;
}

.bowling-Odi-div {
  border-radius: 8px;
  /* margin-left: 70px; */
  background: white;
  margin-left: 15px;
}

.bowling-T20-div {
  border-radius: 8px;
  /* margin-left: 70px; */
  background: white;
  /* margin-left: 50px; */
  margin-top: 15px;
}

.bowling-Ipl-div {
  border: 1px solid #707070;
  border-top: none;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bowling-stats-info-parent-div {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-right: 16px;
  border-bottom: 1px solid #707070;
  padding-bottom: 6px;
  padding-top: 7px;
  font-family: "Montserrat", sans-serif;
}

.bowling-stats-info-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  padding: 6px;
  padding-left: 20px;
}

.bowling-stats-bottom-info-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 4px;
  padding-left: 30px;
  margin-bottom: 17px;
}

.ball-stat-span-1 {
  font-weight: 500;
  font-size: 19px;
}

.ball-stat-span-2 {
  font-weight: 400;
  font-size: 13px;
  /* padding-top: 2px; */
}

@media only screen and (max-width: 768px) {
  .ball-main {
    display: flex;
    flex-direction: row;
    margin-top: 210px;
    margin-bottom: 40px;
    justify-content: center;
    width: 90vw;
  }

  .bowling-main-div {
    display: grid;
    grid-template-columns: 48vw 48vw;
  }

  .bowling-format-heading {
    background-color: #2980b9;
    color: white;
    padding: 8px;
    margin-top: 0px;
  }

  .bowling-Test-div {
    /* border: 1px solid #707070; */
    border-top: none;
    margin-left: 35px;
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }

  .bowling-Odi-div {
    /* border-radius: 8px; */
    margin-left: 25px;
    background-color: white;
  }

  .bowling-T20-div {
    /* border: 1px solid #707070; */
    border-radius: 8px;
    margin-left: 35px;
    margin-top: 15px;
    background-color: white;
  }

  .bowling-Ipl-div {
    border: 1px solid #707070;
    border-top: none;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .bowling-stats-info-parent-div {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid #707070;
    padding-bottom: 6px;
    padding-top: 7px;
    font-family: "Montserrat", sans-serif;
  }

  .bowling-stats-info-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    padding: 6px;
    padding-left: 20px;
  }

  .bowling-stats-bottom-info-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 4px;
    padding-left: 30px;
    margin-bottom: 17px;
  }

  .ball-stat-span-1 {
    font-weight: 500;
    font-size: 16px;
  }

  .ball-stat-span-2 {
    font-weight: 400;
    font-size: 11px;
    /* padding-top: 2px; */
  }
}

@media only screen and (max-width: 576px) {
  .ball-main {
    display: flex;
    flex-direction: row;
    margin-top: 230px;
    justify-content: center;
    width: 100vw;
  }

  .bowling-main-div {
    display: grid;
    grid-template-columns: 87vw;
  }

  .bowling-format-heading {
    background-color: #2980b9;
    color: white;
    padding: 4px;
    margin-top: 0px;
    font-size: 16px;
  }

  .bowling-Test-div {
    /* border: 1px solid #707070; */
    border-top: none;
    margin: auto;
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
  }

  .bowling-Odi-div {
    /* border: 1px solid #707070; */
    border-top: none;
    margin: auto;
    margin-top: 15px;
  }

  .bowling-T20-div {
    /* border: 1px solid #707070; */
    border-top: none;
    margin: auto;
    margin-top: 15px;
  }

  .bowling-Ipl-div {
    border: 1px solid #707070;
    border-top: none;
    margin: auto;
    margin-top: 15px;
  }

  .bowling-stats-info-parent-div {
    display: flex;
    flex-direction: row;
    margin-top: -10px;

    border-bottom: 1px solid #707070;

    font-family: "Montserrat", sans-serif;
  }

  .bowling-stats-info-div {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    font-family: "Montserrat", sans-serif;
    /* padding-left: 14px; */
  }

  .bowling-stats-bottom-info-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding: 10px; */
    padding-left: 20px;
  }

  .ball-stat-span-1 {
    font-weight: 600;
    font-size: 16px;
  }

  .ball-stat-span-2 {
    font-weight: 500;
    font-size: 10px;
    /* padding-top: 3px; */
  }
}
