.menu-item {
    padding: 0 40px;
    margin: 10px 20px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    background-color: #2980B9;
    font-size: 18px;
  }
  .menu-item.active {
cursor: pointer;
color: white;
  }
   
  .scroll-menu-arrow {
    padding: 30px;
    justify-content: space-between;
    cursor: pointer;
  }