@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.secNavParent {
	width: 100vw;
	padding: 20px 60px 0px 60px;
	background-color: #ffffff;
	box-shadow: 0px 2px 4px 0px #e6e6e6;
	color: #2c3e50;
	display: flex;
	flex-direction: column;
	letter-spacing: 0.3px;
	position: fixed;
	font-family: "Montserrat", sans-serif;
	top: 0;
	left: 0;
	right: 0;
}

.secNavHead {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.secNavHead div:first-child {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.secNavHead div:last-child {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

.secNavHead div:last-child h2,
.secNavHead div:last-child h4 {
	margin: 0px;
}

.secNavHead div:last-child h4 {
	color: #707070;
	font-weight: 400;
}

.secNavLinks {
	margin-top: 20px;
}

.secNavLinks ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.secNavLinks ul li {
	font-family: "Montserrat", sans-serif;
	padding: 10px 0px;
	transition: 0.3s;
	color: #272727;
	margin-right: 30px;
	letter-spacing: 0.3px;
	text-align: center;
}

.secNavLinks ul li:hover {
	font-weight: 600;
	cursor: pointer;
	padding-bottom: 7px;
	color: #2980b9;
	border-bottom: 3px solid #2980b9;
}

.secLink {
	text-decoration: none;
}

@media only screen and (max-width: 576px) {
	.secNavParent {
		padding: 20px 20px 0px 20px;
	}
	.secNavLinks ul li {
		font-size: 12px;
	}
	.secNavHead div:first-child {
		width: 60px;
		height: 60px;
	}
	.secNavLinks {
		margin-top: 10px;
	}
	.secNavHead div:last-child {
		margin-left: 20px;
	}
}
