.container-team-details {
  margin-left: 100px;
}

.types-section {
  display: flex;
}
.match-type-section {
  width: 50%;
}

.category-section {
  width: 50%;
}

.p-match-type {
  color: #2c3e50;
  font-size: 20px;
  margin-left: 15px;
}

.p-category {
  color: #2c3e50;
  font-size: 20px;
  margin-left: 15px;
}

.p-category-name {
  color: #2c3e50;
  font-size: 24px;
  margin: 50px 0px 25px 12px;
}

.cards-team-stats {
  display: flex;
  margin: 5px 250px 15px 15px;
}

.cards-team-category {
  display: flex;
  margin: 5px 100px 15px 15px;
}

.grid-table {
  /* border: 1px solid #707070; */
  border-radius: 8px;
  margin: 0px 100px 20px 20px;
  background-color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding: 1px;
}
.grid-container:not(:last-child) {
  border-bottom: 1px solid #707070;
}

.grid-item-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #2c3e50;
}

.grid-item-detail {
  font-size: 15px;
  text-align: center;
  color: #2c3e50;
}

/* .grid-item-score {
  padding: 10px 10px 10px 0px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #707070;
  margin-left: 20px;
  font-size: 15px;
  color: #2c3e50;
}
.grid-item-overs {
  padding: 10px 10px 10px 12px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #707070;
  font-size: 15px;
  color: #2c3e50;
}
.grid-item-rr {
  padding: 10px 10px 10px 20px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #707070;
  font-size: 15px;
  color: #2c3e50;
}
.grid-item-inns {
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #707070;
  font-size: 15px;
  color: #2c3e50;
}
.grid-item-date {
  padding: 10px 10px 10px 35px;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #707070;
  margin-right: 20px;
  font-size: 15px;
  color: #2c3e50;
} */
/* --------------------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .cards-team-stats {
    margin: 5px 25px 15px 15px;
  }
  .cards-team-category {
    margin: 5px 7px 15px 15px;
  }
  .container-team-details {
    margin-left: 5px;
  }
  .grid-table {
    margin: 0px 10px 20px 20px;
  }
}

@media only screen and (max-width: 576px) {
  .types-section {
    display: block;
  }
  .cards-team-stats {
    margin: 5px 0px 15px 15px;
  }
  .cards-team-category {
    margin: 5px 15px 15px 15px;
  }
  .container-team-details {
    margin-left: 5px;
  }
  .grid-table {
    margin: auto;
  }
  .grid-item-title {
    font-size: 13px;
    font-weight: 600;
  }
  .grid-item-detail {
    font-size: 13px;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  }
}
