.img-team-player {
  width: 55px;
  height: 55px;
}

.teaminfoloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2980b9;
  border-bottom: 16px solid #2980b9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: flex;
  /* justify-content: center; */
  margin-left: 80%;
  margin-top: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-team-details {
  margin-top: 200px;
  margin-left: 2%;
  margin-right: 2%;
}

.grid-class-team-details {
  grid-gap: 10px;
  width: 350px;
  padding: 15px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin: 10px;
}

.p-top-team-details {
  text-align: center;
  width: 98%;
  font-size: 28px;
  color: #2c3e50;
}

.cards-new {
  display: flex;
  margin-left: 1%;
  margin-right: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.p-team-details-name {
  font-size: 20px;
  margin-right: auto;
  margin-bottom: 0px;
}
.p-player-style {
  font-size: 10px;
  margin-top: 2px;
  color: #707070;
}

.h2-team-details-position {
  font-size: 20px;
  margin-left: auto;
}
.p-matches {
  color: #2c3e50;
  font-size: 24px;
}

.cards-new {
  margin: 5px 1000px 15px 15px;
}

.matches-section {
  width: 60%;
  float: left;
}

.top-section {
  width: 40%;
  float: right;
}
/* ----------------------------------------------------------------------------------------- */

.all-recent-matches-box-team {
  display: grid;
  grid-template-columns: 25vw 25vw;
  height: auto;
  border-radius: 8px;
  margin: 10px;
  grid-gap: 15px;
}

.inside-recent-matches-box-team {
  display: flex;
  flex-direction: column;
  /* margin: 5px 0px 10px 0px; */
  width: 100%;
  height: 140px;
  border-radius: 8px;
  border: 1px solid #707070;
  cursor: pointer;
}
.list-info {
  text-align: left;
  display: flex;
  margin: 15px 0px 0px 0px;
}
.list-info:not(:last-child) {
  border-bottom: 1px solid #707070;
}

.inside-recent-matches-box-team .Team-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: 10pt;
  margin: 3px;
  margin-left: 15px;
  margin-top: 10px;
}

.inside-recent-matches-box-team .tournamnet-name {
  text-align: left;
  font-size: 14px;
  margin-left: 10pt;
  margin-top: 10pt;
  color: #707070;
}

.inside-recent-matches-box-team .TeamOne-name {
  text-align: left;
  font-size: 12pt;
  font-weight: 500;
  margin-left: 12pt;
}
.inside-recent-matches-box-team .TeamTwo-name {
  text-align: left;
  font-size: 12pt;
  font-weight: 500;
  margin-left: 12pt;
}

.inside-recent-matches-box-team .TeamOne-score {
  text-align: left;
  font-size: 12pt;
  font-weight: 500;
  margin-left: 10pt;
  margin-right: 25pt;
}
.inside-recent-matches-box-team .TeamTwo-score {
  text-align: left;
  font-size: 12pt;
  font-weight: 500;
  margin-left: 10pt;
  margin-right: 25pt;
}

.inside-recent-matches-box-team .winner-name {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5pt;
}

@media only screen and (max-width: 1024px) {
  .cards-new {
    margin: 0px 425px 10px 15px;
  }

  .all-recent-matches-box-team {
    display: grid;
    grid-template-columns: 25vw 25vw;
    /* width: 90%; */
    height: auto;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin: 20px;
  }
  .inside-recent-matches-box-team {
    display: flex;
    flex-direction: column;
    margin: 4px;
    margin-bottom: 10px;
    width: 95%;
    height: 140px;
    border-radius: 8px;
    border: 1px solid #707070;
  }

  .inside-recent-matches-box-team .Team-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 8pt;
    margin: 1px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .inside-recent-matches-box-team .tournamnet-name {
    text-align: left;
    font-size: 14px;
    margin-left: 10pt;
    margin-top: 10pt;
  }

  .inside-recent-matches-box-team .TeamOne-name {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin-left: 10pt;
  }
  .inside-recent-matches-box-team .TeamTwo-name {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin-left: 10pt;
  }

  .inside-recent-matches-box-team .TeamOne-score {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin-left: 8pt;
    margin-right: 15pt;
  }
  .inside-recent-matches-box-team .TeamTwo-score {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    margin-left: 8pt;
    margin-right: 15pt;
  }

  .inside-recent-matches-box-team .winner-name {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10pt;
    margin-top: 5pt;
  }
}

@media only screen and (max-width: 768px) {
  .cards-new {
    margin: 0px 325px 10px 15px;
  }

  .all-recent-matches-box-team {
    display: grid;
    grid-template-columns: 50vw;
    /* width: 90%; */
    height: auto;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin: 20px;
  }
  .inside-recent-matches-box-team {
    display: flex;
    flex-direction: column;
    margin: 4px;
    margin-bottom: 10px;
    width: 95%;
    height: 140px;
    border-radius: 8px;
    border: 1px solid #707070;
  }
  .inside-recent-matches-box-team:hover {
    width: 98%;
    height: 145px;
  }

  .inside-recent-matches-box-team .Team-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 10pt;
    margin: 1px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .inside-recent-matches-box-team .tournamnet-name {
    text-align: left;
    font-size: 14px;
    margin-left: 12pt;
    margin-top: 12pt;
  }

  .inside-recent-matches-box-team .TeamOne-name {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 15pt;
  }
  .inside-recent-matches-box-team .TeamTwo-name {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 15pt;
  }

  .inside-recent-matches-box-team .TeamOne-score {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 30pt;
    margin-right: 50pt;
  }
  .inside-recent-matches-box-team .TeamTwo-score {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 30pt;
    margin-right: 50pt;
  }

  .inside-recent-matches-box-team .winner-name {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 7pt;
  }
}

@media only screen and (max-width: 576px) {
  .container-team-details {
    margin-top: 220px;
  }

  .cards-new {
    margin: 5px 15px 15px 25px;
  }

  .all-recent-matches-box-team {
    display: grid;
    grid-template-columns: 85vw;
    /* width: 90%; */
    height: auto;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin: 20px;
  }
  .inside-recent-matches-box-team {
    display: flex;
    flex-direction: column;
    margin: 4px;
    margin-bottom: 10px;
    width: 95%;
    height: 140px;
    border-radius: 8px;
    border: 1px solid #707070;
  }
  .inside-recent-matches-box-team:hover {
    width: 98%;
    height: 145px;
  }

  .inside-recent-matches-box-team .Team-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-size: 10pt;
    margin: 1px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .inside-recent-matches-box-team .tournamnet-name {
    text-align: left;
    font-size: 14px;
    margin-left: 10pt;
    margin-top: 10pt;
  }

  .inside-recent-matches-box-team .TeamOne-name {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 11pt;
  }
  .inside-recent-matches-box-team .TeamTwo-name {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 11pt;
  }

  .inside-recent-matches-box-team .TeamOne-score {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 2pt;
    margin-right: 5px;
  }
  .inside-recent-matches-box-team .TeamTwo-score {
    text-align: left;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 2pt;
    margin-right: 5px;
  }

  .inside-recent-matches-box-team .winner-name {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5pt;
  }

  .top-section {
    width: 100%;
    float: left;
  }

  .grid-class-team-details {
    width: auto;
  }
}
