.team-fixtures-container {
  margin: 220px 0px 0px 20px;
}

.fixture-container {
  margin: 50px 180px 15px 150px;
}

.fixture-details {
  border: 1px solid #16a085;
  border-radius: 8px;
  display: flex;
}

.fixture-col-1 {
  margin: 10px 0px 10px 0px;
  border-right: 1px solid #16a085;
  padding: 0px 100px 0px 60px;
}

.fixture-col-2 {
  margin: 10px 0px 10px 0px;
  border-right: 1px solid #16a085;
  padding: 0px 100px 0px 100px;
}

.fixture-col-3 {
  margin: 10px 0px 10px 0px;
  padding: 0px 100px 0px 120px;
}

.fixture-info-type {
  font-size: 20px;
  color: #2c3e50;
}

.fixture-info-one {
  font-size: 20px;
  color: #2c3e50;
  margin-bottom: 0px;
}

.fixture-info-two {
  font-size: 12px;
  color: #707070;
}
#test {
  color: rebeccapurple;
}
#fixture-container {
  margin: 100px 0px 0px 0px;
}
#fix-team {
  color: #16a085;
}

#map {
  margin: 500px 0px 0px 0px;
}

#fixture-details {
  display: grid;
}

#fix-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 10px 10px 10px;
  margin: 200px 0px 0px 0px;
}
#fixgrid-item1 {
  color: black;
  padding: 0px 0px 0px 20px;
  border: 1px solid #16a085;
  background-color: white;
}
#fixture {
  margin: 100px 0px 0px 0px;
}
